.booksPage {
  display: flex;
  flex-direction: column;
}

.dataForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#display > div:nth-child(odd) {
  background-color: lightgrey;
}

.dataFields {
  margin-bottom: 10px;
}

#emptySpan {
  color: red;
}

.bookDetails {
  display: flex;
  flex-direction: row;
}

.data {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid black;
}

#btn {
  width: 10%;
  height: 30px;
}

form {
  margin-top: 20px;
}

input {
  height: 25px;
  width: 250px;
}

.error {
  color: red;
}
